<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Comp</string>
	<key>CFBundleIdentifier</key>
	<string>com.compkeyboard.inputmethod.Comp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Comp</string>
	<key>CFBundleDisplayName</key>
	<string>Comp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>InputMethodConnectionName</key>
	<string>Comp_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>CompInputController</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>comp.tiff</string>
	<key>TISInputSourceID</key>
	<string>com.compkeyboard.inputmethod.Comp</string>
	<key>TISIntendedLanguage</key>
	<string>en</string>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License</string>
</dict>
</plist>
